@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");

html {
  font-family: "Gowun Batang", serif;
}

a {
  text-decoration: none;
  color: black;
}

input[type="submit"] {
  background-color: #61dafb;
  color: #ffffff;
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  outline: none;
  border: 0;
}
